<p style="color: green"><%= notice %></p>

<%= @this_user.name %>
<% @posts.each do |post|%>
  <p>Post # <%=post.id%></p>
  <p><%=post.text%></p>
<% end %>

<div>
  |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
